- @posts.each do |post|
  .container
    .post
      .user_id
        =post.user_id
      .photo
        =image_tag post.photo, size: "400x400"
      .description
        =post.description
    .commands
      =link_to 'Show',post

