- @posts.each do |post|
  .container
    .post
      .user_id
        =post.user_id
      .photo
        =image_tag post.photo, size: "400x400"
      .description
        =post.description
    .commands
      =link_to 'Show',post
      =link_to 'Edit',edit_post_path(post)
      =link_to 'Destroy',post, :method => :delete, :data => { :confirm =>'Are you sure'}

